{% extends "base.html" %}

{% block nav %}
<div class="container-fluid main">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-7 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="sidebar-sticky pt-3">
    <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'audio' %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
              Classifiacte <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'his' %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
              Reports
            </a>
          </li>
        </ul>
          <ul><a class="nav-link" href="{% url 'logout' %}"> Logout </a></ul>
      </div>
    </nav>
      <div class="col-md-8">

          <H3>Please read this text and record it</H3>
          <div class="text">
              <b> Please call Stella.  Ask her to bring these things with her from the store:  Six spoons of fresh snow peas, five thick slabs of blue cheese, and maybe a snack for her brother Bob.  We also need a small plastic snake and a big toy frog for the kids.  She can scoop these things into three red bags, and we will go meet her Wednesday at the train station. </b>

          </div>

            <H3>Here you can upload your audio record</H3>


          <form enctype="multipart/form-data" class="col-md-6"  method="POST" action="{% url 'audio' %}" >
              {% csrf_token %}
              <label >audio record</label>
              <input type="file" class="form-control-file" name="file">
              {% if error %}
                  <p class="error"> file must be WAV</p>
                  {% endif %}
  <button type="submit" class="btn btn-primary mar">Upload</button>
      </form>

          {% block dtpr %}

            {% endblock %}


      </div>
</div>
</div>


{% endblock %}



{% block login %}

{% endblock %}

{% block audio %}

{% endblock %}

